//$grey: #6c757d;
$white: #ffffff;
$black: #333333;
$cement-grey: #E4E4E4;
$cement-background: #E5E9F2;
$grey: #787676;
$red: #eb5757;
$green: #219653;
$disconnect-button: #E4E7EC;
$yellow: #F7A400;
$grey-background: #f3f6f9;
$holder-background: #262d31;
$dark-black: #000000;
$thin-font: 200;
$blue: #1c82ff;
$bind-grey: #C4C4C4;
$input-border: #D9DCE1;
$font-colour: #b1b3b5;
$holder-font-colour: #b3b6b8;
$holder-small-font-colour: #989a9d;
$text-font-family: Source Sans Pro;
$dark-scroll: #394045;
$text-font-colour: #6b7c93;
$small-font: 1.1rem;
$small: 450px;
$super-tiny: 300px;
$tiny: 400px;
$small-height: 415px;
$small-mid : 650px;
$big-mid : 1200px;
$medium: 850px;
$mid: 750px;
$large: 2000px;
$lower-bgcolor: #fafafa;
$upper-bgcolor: #ffff;
$base-font: "DM Sans", sans-serif;
$second-font: "DM Sans", sans-serif;