.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(120, 118, 118, 0.05);
}

.tab {
  //width: 100%;
  color: white;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
  p {
    display: flex;
    margin-bottom: 0.6rem;
    margin-left: 3.2rem;
    align-items: center;
    color: $blue;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
.tab-label {
  display: flex;
  //justify-content: space-between;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  height: 7rem;
  background: $white;
  color: $black;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  &__name {
    margin-left: 3rem;
    font-size: 2rem;
  }
  &__available {
    margin-left: auto;
    display: flex;
    &__icon {
      margin-right: 1rem;
    }
    &__text {
      color: $grey;
      font-family: "Sora";
      line-height: 2.3rem;
      font-size: 1.8rem;
      font-family: "Sora";
      font-weight: 400;
    }
  }
  &__love {
    margin-right: 3%;
    margin-left: 7%;
  }
  /* Icon */
}

.tab-label::after {
  display: none;
  content: "â¯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
  text-align: left;
  font-size: 1.8rem;

  line-height: 2.3rem;
  &__inner {
    padding: 4rem 0;
    padding-left: 3.2rem;
    display: flex;
    &__options {
      margin-right: 5rem;
      &__text {
        color: $grey;
        font-size: 1.8rem;
      }
      &__name {
        font-size: 1.4rem;
        margin-top: 1rem;
        color: $grey;
      }
    }
  }
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;

  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-label > .close {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
  border-top: 1px solid $cement-background;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
}

.positive {
  color: $green;
}

.tal {
  text-align: left;
}

.accordion {
  &__registered {
    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: min-content;
      padding: 3rem 5rem;
      @media screen and (max-width: $small) {
        padding: 3rem 2rem;
      }
      &__button {
        font-family: Sora;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        color: $blue;
        line-height: 2rem;
      }
      &__label {
        color: $grey;
        font-family: Sora;
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-top: 2.5rem;
      }
      &__value {
        font-family: Sora;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-top: 1.6rem;
      }
      &__first {
        &__title {
          font-family: Sora;
          //font-style: normal;
          font-weight: 600;
          font-size: 1.4rem;
          color: $black;
          line-height: 1.8rem;
        }
      }
      &__second {
        margin: 0 auto;
      }
      &__third {
        text-align: right;
      }
    }
  }
}



#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

 

#menu__toggle:checked ~ .menu__box:has(> .menu__item:hover ) {
  display:none
}

#menu__toggle:checked + .menu__btn > span::before  {
  left: 1 !important;
}

.menu__btn {
  position: sticky;
  /* top: 20px; */
  /* left: 20px; */
  width: 26px;
  //height: 26px;
  /* cursor: pointer; */
  //z-index: 1;
  text-align: end;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: $lower-bgcolor;
  font-family: 'Sora';
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Sora';
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu {
  display: flex;
  margin-left: auto;
  margin-right: 5%;

  @media screen and (max-width: $mid) {
    margin-right: 0;
    
  }

  @media screen and (min-width: $mid) {
    display: none;
    
  }
}